{% extends "base.html" %}
{% load cache %}
{% block title %} Статьи авторов на которых вы подписаны {% endblock %}

{% block content %}
{% include "includes/menu.html" %}
<div class="container">
    <h1>Статьи избранных авторов</h1>
    <!-- Вывод ленты записей -->
    {% for post in page %}
    <!-- Вот он, новый include! -->
    {% include "includes/post_item.html" with post=post %}
    {% endfor %}


</div>

<!-- Вывод паджинатора -->
{% if page.has_other_pages %}
{% include "includes/paginator.html" with items=page paginator=paginator%}
{% endif %}

{% endblock %}